            @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

            body {
                background-color: lightgrey;
            }
            .container {
                width: 100%;
                margin: 0 auto;
            }
            .container h1 {
                font-size: 8vw;
            }
            .header {
                background: linear-gradient(to right, #000046, #1cb5e0);
                min-height: 20px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                color: white;
            }
            .header2 {
                background: linear-gradient(to right, #000046, #1cb5e0);
                min-height: 20px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                color: white;
                margin-left:20px;
            }
            .header h1 {
                font-size: 14pt;
                padding: 10px;
                font-style: oblique;
            }
            .header2 h1 {
                font-size: 14pt;
                padding: 10px;
                font-style: oblique;
            }
            #el1{background:linear-gradient(to bottom,gray,lightgray)}
            .jumbotron {
                width: 100%;
                height: 270px;
                padding: 20px 50px;
                box-sizing: border-box;
                text-align: center;
                color: darkblue;
                background-color: #aaaaaa;
                background-size: cover;
                position: relative;
                font-family: 'Raleway', sans-serif;
                margin-top: -12px;
            }
            .jumbotron2 {
                width: 100%;
                min-height: 270px;
                padding: 20px 50px;
                box-sizing: border-box;
                text-align: center;
                color: black;
                font-weight: bold;
                background-color: silver;
                background-size: cover;
                position: static;
                font-family: 'Raleway', sans-serif;
                margin-top: -12px;
            }
            .jumbotron2 h2,
            .jumbotron2 p {
                position: relative;
            }
            .jumbotron2 h2 {
                margin-top: -15px;
                font-size: 14pt;
            }
            .jumbotron2 p {
                margin-top: -5px;
                font-size: 10pt;
            }
            .jumbotron h2,
            .jumbotron p {
                position: relative;
            }
            .jumbotron p {
                margin-top: -15px;
            }
            .content {
                background-color: #ddd;
                overflow: auto;
                min-height: 350px;
                padding: 40px;
                display: flex;
                /*border:1px solid red;*/
            }
            .content .kisah {
                width: 120%;
                padding-right: 20px;
                /*border:1px solid red;*/
            }
            .content .info {
                width: 100%;
                padding-left: 20px;
                /*border:1px solid red;*/
            }
            .text {
                text-indent: 50px;
                text-align: justify;
            }
            .content hr {
                height: 10px;
                margin-right: 30px;
                border: 0;
                box-shadow: 0 10px 10px -10px #8c8c8c inset;
            }
            .content .garis td {
                border-bottom: 1px solid gray;
                padding: 5px;
            }
            .tbl2 .garis2 td {
                border-top: 1px solid gray;
                padding: 5px;
            }
            #value1 {
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/42.png);
                background-size: 150px;
                width: 150px;
                height: 150px;
            }
            #value1-1 {
                position: absolute;
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/42.png);
                background-size: 80px;
                width: 80px;
                height: 80px;
                /*margin-left: -30px;*/
                margin-top: -58px;
            }
            #value1-2 {
                position: absolute;
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-size: 90px;
                width: 90px;
                height: 90px;
                margin-left: -5px;
                margin-top: -63px;
            }
            #value1-3 {
                position: fixed;
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/ExitDoor.gif);
                background-size: 100px;
                background-position: center;
                width: 80px;
                height: 80px;
                margin-left: 92%;
                margin-top: 36%;
            }
            #value2 {
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/fb.jpg);
                background-size: 40px;
                width: 40px;
                height: 40px;
            }
            #value3 {
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/LinkedIn.jpg);
                background-size: 60px;
                background-position: center;
                width: 40px;
                height: 40px;
            }
            #value4 {
                border-radius: 50%;
                background: linear-gradient(to left, #000046, #1cb5e0);
                background-image: url(../IMG/WA.png);
                background-size: 40px;
                width: 40px;
                height: 40px;
            }
            #more {display: none;}
            .footer {
                background: linear-gradient(to bottom,lightgrey,gray);
                padding: 1px;
                bottom: 0;
                color: black;
                text-align: center;
                width: 100%;
                font-style: oblique;
            }
            .xx {
                display: flex;
            }
            .tbl1 {
                width: 100%;
            }
            .tbl1 td {
                padding-right: 20px;
            }
            .tbl2 {
                width: 100%;
                text-align: left;
                margin-left: 20px;
            }
            .con table {
                margin-left: 70px;
                /*border:1px solid red;*/
            }


            @media screen and (max-width: 960px) {
                p {
                    font-size: 10pt;
                }

                .content{
                    display: inline-block;
                    width: 75%;
                }

                .content .kisah {
                    /*border:1px solid red;*/
                    margin-left: -20px;
                    margin-right: -20px;
                    padding-left: 20px;
                    padding-bottom: 50px;
                    width: 103%;
                }
                .content .info {
                    /*border:1px solid red;*/
                    margin-left: -20px;
                    margin-right: -20px;
                    padding-bottom: 50px;
                    width: 110%;
                }

                h2 {
                    font-size: 14pt;
                }

                table {
                    font-size: 10pt;
                }

                #value1-1 {
                    margin-top: -55px;
                }
                #value1-2 {
                    margin-top: -60px;
                }
                .header2 h1 {
                    font-size: 13px;
                    padding-left: 40px;
                    padding-top: 10px;
                    padding-bottom: 20px;
                }
                .header2 {
                    margin-left: 50px;
                    /*border:1px solid red;*/
                }
                .jumbotron2 p {
                    font-size: 10px;
                }
                .x h2 {
                    font-size: 14px;
                    padding-top: 20px;
                }
                .xx td {
                    font-size: 10px;
                }
                .xx {
                    display: inline-block;
                    width: 100%;
                }
                .content {
                    /*border:1px solid red;*/
                    width: 78%;
                }
                .tbl1{
                    /*border:1px solid red;*/
                    width: 100%;
                }
                .tbl2{
                    /*border:1px solid red;*/
                    margin-left: -2px;
                    width: 100%;
                    margin-top: 20px;
                }
                table {
                    /*border:1px solid red;*/
                    width: 100%;
                }
                td {
                    /*border:1px solid red;*/
                    width: 55%;
                }
                .con {
                    /*border:1px solid red;*/
                    margin-left: -90px;
                    width: 100%;
                }
                #value1-3 {
                    margin-left: 80%;
                    margin-top: 70%;
                }
                .kontak {
                    margin-left: -50px;
                }
                .kontak table {
                    width: 350px;
                }
                .kontak td {
                    /*border:1px solid red;*/
                    width: 100%;
                }
            }
